.tabla{
    width: 100%;
    border-style: double;
    border-color: rgb(227, 164, 230);
    background-color: rgb(247, 214, 199);
    padding: 1px;
    margin: 1px;
    border-radius: 2%;

}
.titulo{
    width: 100%;
    color: rgb(243, 104, 236);
    text-align: center;
    padding: 12px 0;
    font-size: 40px;
}
.encabezado{
    text-align: center;
    color: rgb(68, 68, 145);
    font-size: 20px;
    letter-spacing: 0.8px;
    border-color: rgb(61, 10, 109);
    
}

.datos{
    width: 100%;
    padding: 5px 5px;
    color: rgb(59, 59, 131);
    text-align: center;
}
.botonEliminar{
    background-color: rgb(240, 203, 125);
    color: rgb(53, 53, 172);
    border-style: inherit;
}
.buscar{
    width: 90%;
}